/* Estilos globais do corpo */
body {
    display: flex;
    flex-direction: column; /* Organiza o conteúdo de forma vertical */
    min-height: 100vh; /* Garante que o corpo ocupe a altura total da tela */
    width: 100%; /* Garante que o body não ultrapasse a largura da tela */
    margin: 0; /* Remove qualquer margem que possa causar o overflow */
    padding: 0; /* Remove o padding que pode causar overflow */
    font-family: var(--font-family-body); /* Fonte definida para o corpo */
    background-color: #f1f3f4; /* Cor de fundo clara */
    color: var(--color-green); /* Cor do texto principal */
    font-size: var(--font-size-body); /* Tamanho do texto */
    line-height: 1.6; /* Altura das linhas para melhor legibilidade */
    scroll-behavior: smooth; /* Transição suave ao rolar a página */
    background-image: url('./assets/background.jpg'); /* Imagem de fundo */
    background-size: cover; /* Imagem cobre todo o fundo */
    background-position: center; /* Imagem centralizada */
    max-width: 1200px; /* Limita a largura do conteúdo no corpo */
    margin-left: auto; /* Centraliza o conteúdo horizontalmente */
    margin-right: auto; /* Centraliza o conteúdo horizontalmente */
}

/* Estilos do rodapé */
footer {
    text-align: center; /* Centraliza o conteúdo do rodapé */
    padding: 20px; /* Espaçamento interno */
    background: var(--color-white) url('assets/footer.jpg') no-repeat center; /* Cor de fundo e imagem */
    color: var(--color-black); /* Cor do texto */
    font-family: var(--font-family-body); /* Fonte padrão do corpo */
    font-weight: normal; /* Remove o negrito */
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-top: auto; /* Posiciona o rodapé ao final da página */
}

/* Listagem do menu de links no rodapé */
footer nav ul {
    list-style: none; /* Remove as marcações da lista */
    padding: 0; /* Remove o padding */
    margin: 0; /* Remove a margem */
    display: flex; /* Flexbox para alinhar os itens em linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

/* Estilos dos itens de navegação no rodapé */
footer nav ul li {
    margin: 0 10px; /* Espaçamento horizontal entre itens */
}

/* Estilos específicos para links dentro do rodapé */
footer a {
    color: var(--color-black); /* Cor preta para os links */
    font-family: var(--font-family-body); /* Fonte do corpo */
    text-decoration: underline; /* Links sublinhados */
    font-weight: normal; /* Texto não em negrito */
}

/* Efeito de hover nos links */
footer a:hover {
    text-decoration: none; /* Remove o sublinhado no hover */
    color: var(--color-purple); /* Altera a cor do texto no hover */
}